<!-- component HTML -->
<button class="flex {{bgcolor}} w-full items-center justify-start px-4 py-2 gap-2 rounded-xl {{bordercolor}} border active:scale-98" {{ attributes }}>
    <i class="{{ faicon }} {{textcolor}}"></i>
    <p class=" {{textcolor}} text-left">{{textcontent}}</p>
</button>
